*{
    margin:0px;
    padding:0;
    box-sizing: border-box;
}
/* shared styels */
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
main section{
    margin-top:130px;
}
/* nav related styles */
.text-prymary{
    color: #FD6E0A;

}
nav{
    display: flex;
   justify-content: space-between; 
   align-items: center;
   margin:0 200px;
}
.nav-title{
    color: #181818;
    font-family: Open Sans;
     font-size: 45px;
}
.btn-prymary{
   border:0;
    border-radius: 5px;
    background: #FD6E0A;
    color:#fff;
    font-size: 20px;
    font-weight: 700;
    font-family:'Open Sans', sans-serif;
    text-transform:uppercase;
    padding:10px 30px;
    transition: 3s;
}
.btn-prymary:hover{
    background: #181818;
    color: #fff;
    cursor: pointer;

}
nav>ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    color:#474747;
}
/* header relatab styles */
.header{
    background: #FFF8F3;
    background-image: url(../images/header_bg.png),url('../images/developer.png');
    background-position: bottom right,top left;
    background-repeat: no-repeat;
    cursor: pointer;
}
.bannar{
    padding:30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bannar-about{
    max-width: 585px;
}
.bannar-imag{
    width: 584px;
}
.bannar-imag img{
    max-width: 100%;
    border: none;
}
.bannar-greeting{
   color: #474747;
   font-family: Open Sans;
   font-weight: 600;
   font-size: 45px;
 
}
.bannar-title{
    color:#181818;
    font-family: Open Sans;
     font-size: 85px;
    font-weight: 700;
    margin-bottom: 10px;
    
}
.descreption{
    color: #757575;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
     line-height: 30px;
     margin-bottom: 20px;
}
/* main section  */
main{
    max-width: 1140px;
    margin:0 auto;
}
/* about */
.about-us{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin:130px 0px;
    text-align: center;
}
.about-title{
    color: #181818;
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;

}
.about-descreption{
    color:#757575;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.about-info-containar{
    display: flex;
    margin-right: 50px;
    justify-content:space-around;
    margin-top: 30px;
}
.info-descreption{
    color: #757575;
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
}
.about-info{
    text-align: center;
}
/* what i do */
#what-id-do-descrption{
    padding:30px 150px;
}
.skils-containar{
    display: flex;
    justify-content: space-around;
    background:#D1D1D1;
  
}
.skills{
    width: 267px;
    border: 1px solid#ddd;
    text-align: justify;
    padding:30px;
    background-color: #fff;
    margin:20px;
    border:none;
    border-radius: 10px;
    
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    
}
.skill-title{
    color:  #181818;
    font-family: Open Sans;
    font-size: 20px;
   margin:10px 0px;
    font-weight: 700;
   
}
.skill-description{
    color:#757575;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
/* resume sention styles */

.resume-colum-title{
    color:#474747;
    font-family: Open Sans;
    font-size: 30px;
    font-weight: 700;
    
}
.resume-conatainer{
    display: flex;
    gap:50px;
    justify-content:space-evenly;
}
.resume-items-title{
    color: #474747;
    font-family: Open Sans;
    font-size: 25px;
    font-weight: 700;
    margin-top:50px;
}
.resume-items-institute{
    color:#757575;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
}
.resume-items-description{
    color: #757575;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin:20px 0px;
}

.resume-colum{
    width: 511px;
}
 .downlod{
    text-align:center;
    margin-top:50px;
   
}
/* footer style */
footer {
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    margin-top: 100px;
    padding: 130px 200px;
}

.footer-column {
    width: 50%;
}

.social-links a{
    margin-right: 25px;
    margin-top:30px;
    font-size: 20px;
}

.contact input[type="text"], .contact input[type="email"],
textarea {
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    width: 100%;
}
.section-title{
    margin-bottom: 30px;
}
.fotter-title{
    color:#181818;
   font-family: Open Sans;
   font-size: 35px;
   font-style: normal;
   font-weight: 700;
   margin-bottom:20px;
}
.fotter-description{
    color:  #474747;
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
    margin-bottom: 20px;
}