*{
    /* margin:0px;
    padding:0;
    box-sizing: border-box; */
}
/* shared styels */
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
/* nav related styles */
.text-prymary{
    color: #FD6E0A;

}
nav{
    display: flex;
   justify-content: space-between; 
   align-items: center;
}
.nav-title{
    color: #181818;
    font-family: Open Sans;
     font-size: 45px;
}
.btn-prymary{
   border:0;
    border-radius: 5px;
    background: #FD6E0A;
    color:#fff;
    font-size: 20px;
    font-weight: 700;
    font-family:'Open Sans', sans-serif;
    
    text-transform:uppercase;
    padding:15px 35px;
}
nav>ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    color:#474747;
}